body {
    background-image: url("http://www.sompaisoscatalans.cat/simage/180/1802063/web-development-hd-wallpapers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    margin: 20px auto;
    font-style: italic;
    font-size: 20px;
    color: white;
    font stretch: ultra-condensed;
    line-height: 50px;
}

#hi {
    text-align: center;
    margin-top: 250px;
    font-size: 30px;
}

img {
    float: initial;
    border: 1px solid black;
    border-radius: 50%;
}

span {
    text-align: center;
    margin-top: 400px;
    color: white;
    border: 1px solid black;
    float: left;
    width: 2000px;
    background-color: black;
}

section {
    margin-top: 300px;
    justify content: space-between;
    font-size: 50px;
}

#first {
    border: 0px solid;
    width: 710px;
    height: 90px;
    float: left;
}

h1,
h2 {
    color: white;
}


/*nav {
    max-width:960px;
    margin: 0;
    padding: 10px 0;
    height: 60px;
}*/


/*p {
    display: flex;
    font: normal 20px/30px Georgia, serif;
}*/

nav {
    width: 915px;
    display: flex;
    height: 70px;
    margin: 40px auto;
    padding: 5px;
    font-weight: 600;
    border: 1px solid black;
    width: 470px;
    height: 40px;
    background-color: black;
}

nav>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: white;
    font: italic bold 15px/14px Georgia, serif;
    text-align: center;
}

nav>a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background-color: #B2BABB;
    color: rgba(0, 35, 122, 0.7);
}