body {
    background-image: url("http://www.sompaisoscatalans.cat/simage/180/1802063/web-development-hd-wallpapers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    margin: 20px auto;
    font-style: italic;
    font-size: 20px;
    color: white;
    font stretch: ultra-condensed;
    line-height: 50px;
}

#hi {
    text-align: center;
    margin: 50px;
    font-size: 30px;
}

img {
    float: center;
}

section {
    margin: 100px auto;
}

#first {
    border: 0px solid;
    width: 710px;
    height: 90px;
    float: left;
}

h1 {
    color: white;
}